[submodule "Nancy.Bootstrappers.Ninject"]
	path = Nancy.Bootstrappers.Ninject
	url = git@github.com:mamluka/Nancy.Bootstrappers.Ninject.git
[submodule "Ninject.Extensions.Conventions"]
	path = Ninject.Extensions.Conventions
	url = git@github.com:mamluka/ninject.extensions.conventions.git
[submodule "Ninject"]
	path = Ninject
	url = git@github.com:mamluka/ninject.git
[submodule "Ninject.Extensions.Factory"]
	path = Ninject.Extensions.Factory
	url = git@github.com:mamluka/ninject.extensions.factory.git
[submodule "Ninject.Extensions.ChildKernel"]
	path = Ninject.Extensions.ChildKernel
	url = git@github.com:mamluka/ninject.extensions.childkernel.git
