Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*crunch*
*.pidb

.idea/**
Out/**
RavenDB/Server/Data/**
RavenDB/Server/*.xml
packages/*.exe
SpeedyMailer.Master.Web.Api/BodyPart*
logs/*
*.rar
