<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<target name="drone-win" xsi:type="File"
				layout="${longdate} ${level} ${logger} ${message} ${exception:format=tostring} ${newline}"
				fileName="logs\drone.txt"
				keepFileOpen="false"
				encoding="iso-8859-2" />

		<target name="drone-linux" xsi:type="File"
				layout="${longdate} ${level} ${logger} ${message} ${exception:format=tostring} ${newline}"
				fileName="logs/drone.txt"
				keepFileOpen="false"
				encoding="iso-8859-2" />

	</targets>

	<rules>
		<logger name="SpeedyMailer.*" minlevel="Trace" writeTo="drone-win" />
		<logger name="SpeedyMailer.*" minlevel="Trace" writeTo="drone-linux" />
	</rules>
</nlog>