<h1>Bootstrap</h1>
<div>
    <input ng-model="domain"/>
    <input type="button" value="Bootstrap" ng-click="bootstrap(domain)"/>
</div>
<h1> deploy The drones</h1>
<input type="button" value="deploy all" ng-click="deployAll()" />
<div ng-repeat="drone in drones">
    <div>{{drone.Domain}}</div>
    <input type="button" value="deploy" ng-click="deploy(drone)" />
    <input type="button" value="kill" ng-click="kill(drone)" />
</div>

<div ng-repeat="deploy in deploys">
    <div>
        <h2>{{deploy.droneId}}</h2>
        <div ng-bind-html-unsafe="deploy.output"></div>
    </div>
</div>
