<style>
    table tr td {
        vertical-align: top;
    }
</style>
<div>
    <h2>Add heuristics</h2>
    <button ng-click="saveHeuristics()" value="send">Send</button>
    <table>
        <tr>
            <td>
                <label>Hard bouce</label>
                <input type="text" ng-model="hardBounceCondition" />
                <button ng-click="addRule(hardBounceCondition,'HardBounce')">Add</button>
                <br />

                <ul>
                    <li ng-repeat="rule in rules | filter:'HardBounce' ">{{rule.Condition}} <span ng-click="removeRule(rule)">remove</span></li>
                </ul>
            </td>
            <td>
                <label>Blocking IP</label>
                <input type="text" ng-model="ipBlockingCondition" />
                <button ng-click="addRule(ipBlockingCondition,'IpBlocking')">Add</button>
                <br />

                <ul>
                    <li ng-repeat="rule in rules | filter:'IpBlocking' ">{{rule.Condition}} <span ng-click="removeRule(rule)">remove</span></li>
                </ul>
            </td>
            <td>
                <label>Content blocking IP</label>
                <input type="text" ng-model="contentBlockingCondition" />
                <button ng-click="addRule(contentBlockingCondition,'ContentBlocking')">Add</button>
                <br />

                <ul>
                    <li ng-repeat="rule in rules | filter:'ContentBlocking' ">{{rule.Condition}} <span ng-click="removeRule(rule)">remove</span></li>
                </ul>
            </td>
            <td>
                <label>Temp bounces</label>
                <input type="text" ng-model="tempBlockCondition" />
                <input type="text" ng-model="timeSpan" />
                <button ng-click="addRule(tempBlockCondition,'TempBlock',timeSpan)">Add</button>
                <br />

                <ul>
                    <li ng-repeat="rule in rules | filter:'TempBlock' ">{{rule.Condition}} - {rule.Data.TimeSpan} <span ng-click="removeRule(rule)">remove</span></li>
                </ul>
            </td>
        </tr>
    </table>








    <button ng-click="saveHeuristics()" value="send">Send</button>
</div>
