<div>
    <div ng-repeat="creativeModel in creatives">
        <div style="margin:10px;">
            <div>{{creativeModel.Id}}</div>
            <div>{{creativeModel.Subject}}</div>
            <div>{{creativeModel.HtmlBody}}</div>
            <div>{{creativeModel.TextBody}}</div>
            <div>{{creativeModel.DealUrl}}</div>
            <div>{{creativeModel.ListId}}</div>
            <input type="button" value="Send" ng-click="send(creativeModel)"/>
            <input type="button" value="Cancel" ng-click="cancel(creativeModel)"/>
        </div>
    </div>
</div>
