<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mongoRunner" type="MongoDB.Runner.Configuration.MongoRunnerConfiguration, MongoDB.Runner" />
  </configSections>
  <mongoRunner mongod="C:\Users\cookie\Documents\SpeedyMailer\MongoDb\mongod.exe" 
               port="27027" 
               mongodkiller="C:\Users\cookie\Documents\SpeedyMailer\MongoDb\utils\mongod-killer.exe" 
               timeout="1" />
</configuration>