<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mongoRunner" type="MongoDB.Runner.Configuration.MongoRunnerConfiguration, MongoDB.Runner" />
  </configSections>
  <mongoRunner mongod="..\..\..\MongoDb\mongod.exe" 
               port="27027" 
               mongodkiller="..\..\..\MongoDb\utils\mongod-killer.exe" 
               timeout="1" />
	
	<appSettings>
		<add key="Mongol.Url" value="mongodb://localhost:27027/drone?safe=true"/>
	</appSettings>
</configuration>