<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.1.267" />
  <package id="Bootstrapper" version="2.0.3.1" />
  <package id="Bootstrapper.AutoMapper" version="2.0.2.0" />
  <package id="jQuery" version="1.7.2" />
  <package id="jQuery.UI.Combined" version="1.8.20" />
  <package id="jQuery.Validation" version="1.19.4" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Modernizr" version="2.5.3" />
  <package id="MvcContrib.Mvc3.FluentHtml-ci" version="3.0.100.0" />
  <package id="NConfig" version="1.0.12" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="Ninject" version="3.0.1.10" />
  <package id="Ninject.MVC3" version="3.0.0.6" />
  <package id="Ninject.Web.Common" version="3.0.0.7" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="WebActivator" version="1.5.1" />
</packages>