/* Reset */
.defaultSimpleSkin table, .defaultSimpleSkin tbody, .defaultSimpleSkin a, .defaultSimpleSkin img, .defaultSimpleSkin tr, .defaultSimpleSkin div, .defaultSimpleSkin td, .defaultSimpleSkin iframe, .defaultSimpleSkin span, .defaultSimpleSkin * {
    background: transparent;
    border: 0;
    color: #000;
    cursor: default;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    white-space: nowrap;
}

/* Containers */

.defaultSimpleSkin { position: relative }

.defaultSimpleSkin table.mceLayout {
    background: #F0F0EE;
    border: 1px solid #CCC;
}

.defaultSimpleSkin iframe {
    background: #FFF;
    border-bottom: 1px solid #CCC;
    display: block;
}

.defaultSimpleSkin .mceToolbar { height: 24px; }

/* Layout */

.defaultSimpleSkin span.mceIcon, .defaultSimpleSkin img.mceIcon {
    display: block;
    height: 20px;
    width: 20px;
}

.defaultSimpleSkin .mceIcon { background: url(../../img/icons.gif) no-repeat 20px 20px }

/* Button */

.defaultSimpleSkin .mceButton {
    border: 1px solid #F0F0EE;
    display: block;
    height: 20px;
    width: 20px;
}

.defaultSimpleSkin a.mceButtonEnabled:hover {
    background-color: #B2BBD0;
    border: 1px solid #0A246A;
}

.defaultSimpleSkin a.mceButtonActive {
    background-color: #C2CBE0;
    border: 1px solid #0A246A;
}

.defaultSimpleSkin .mceButtonDisabled span {
    -ms-filter: 'alpha(opacity=30)';
    filter: alpha(opacity=30);
    opacity: 0.3;
}

/* Separator */

.defaultSimpleSkin .mceSeparator {
    background: url(../../img/icons.gif) -180px 0;
    display: block;
    height: 20px;
    margin: 0 2px 0 4px;
    width: 2px;
}

/* Theme */

.defaultSimpleSkin span.mce_bold { background-position: 0 0 }

.defaultSimpleSkin span.mce_italic { background-position: -60px 0 }

.defaultSimpleSkin span.mce_underline { background-position: -140px 0 }

.defaultSimpleSkin span.mce_strikethrough { background-position: -120px 0 }

.defaultSimpleSkin span.mce_undo { background-position: -160px 0 }

.defaultSimpleSkin span.mce_redo { background-position: -100px 0 }

.defaultSimpleSkin span.mce_cleanup { background-position: -40px 0 }

.defaultSimpleSkin span.mce_insertunorderedlist { background-position: -20px 0 }

.defaultSimpleSkin span.mce_insertorderedlist { background-position: -80px 0 }