/* Reset */
.o2k7SimpleSkin table, .o2k7SimpleSkin tbody, .o2k7SimpleSkin a, .o2k7SimpleSkin img, .o2k7SimpleSkin tr, .o2k7SimpleSkin div, .o2k7SimpleSkin td, .o2k7SimpleSkin iframe, .o2k7SimpleSkin span, .o2k7SimpleSkin * {
    background: transparent;
    border: 0;
    color: #000;
    cursor: default;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    white-space: nowrap;
}

/* Containers */

.o2k7SimpleSkin { position: relative }

.o2k7SimpleSkin table.mceLayout {
    background: #E5EFFD;
    border: 1px solid #ABC6DD;
}

.o2k7SimpleSkin iframe {
    background: #FFF;
    border-bottom: 1px solid #ABC6DD;
    display: block;
}

.o2k7SimpleSkin .mceToolbar { height: 26px; }

/* Layout */

.o2k7SimpleSkin .mceToolbar .mceToolbarStart span {
    background: url(img/button_bg.png) -22px 0;
    display: block;
    height: 22px;
    width: 1px;
}

.o2k7SimpleSkin .mceToolbar .mceToolbarEnd span {
    background: url(img/button_bg.png) -22px 0;
    display: block;
    height: 22px;
    width: 1px;
}

.o2k7SimpleSkin span.mceIcon, .o2k7SimpleSkin img.mceIcon {
    display: block;
    height: 20px;
    width: 20px;
}

.o2k7SimpleSkin .mceIcon { background: url(../../img/icons.gif) no-repeat 20px 20px }

/* Button */

.o2k7SimpleSkin .mceButton {
    background: url(img/button_bg.png);
    display: block;
    height: 22px;
    width: 22px;
}

.o2k7SimpleSkin a.mceButton span, .o2k7SimpleSkin a.mceButton img { margin: 1px 0 0 1px }

.o2k7SimpleSkin a.mceButtonEnabled:hover {
    background-color: #B2BBD0;
    background-position: 0 -22px
}

.o2k7SimpleSkin a.mceButtonActive { background-position: 0 -44px }

.o2k7SimpleSkin .mceButtonDisabled span {
    -ms-filter: 'alpha(opacity=30)';
    filter: alpha(opacity=30);
    opacity: 0.3;
}

/* Separator */

.o2k7SimpleSkin .mceSeparator {
    background: url(img/button_bg.png) -22px 0;
    display: block;
    height: 22px;
    width: 5px;
}

/* Theme */

.o2k7SimpleSkin span.mce_bold { background-position: 0 0 }

.o2k7SimpleSkin span.mce_italic { background-position: -60px 0 }

.o2k7SimpleSkin span.mce_underline { background-position: -140px 0 }

.o2k7SimpleSkin span.mce_strikethrough { background-position: -120px 0 }

.o2k7SimpleSkin span.mce_undo { background-position: -160px 0 }

.o2k7SimpleSkin span.mce_redo { background-position: -100px 0 }

.o2k7SimpleSkin span.mce_cleanup { background-position: -40px 0 }

.o2k7SimpleSkin span.mce_insertunorderedlist { background-position: -20px 0 }

.o2k7SimpleSkin span.mce_insertorderedlist { background-position: -80px 0 }